body{
    background-color: olive;
    color: aliceblue;
}

table{
    border: 2px solid bisque;
    border-collapse: collapse;
}

th{
    border: 2px solid bisque;
    border-collapse: collapse;
}

tr{
    border: 2px solid bisque;
    border-collapse: collapse;
}

td{
    border: 2px solid bisque;
    border-collapse: separates;
}